@{
    ViewData["Title"] = "About";
}
<style>
body {
    background-color: #F05A7E;
}

div {
    font-family: 'Cloud soft';
}
</style>

<head>
    <link rel="stylesheet" href="~/css/About.css" asp-append-version="true" />
</head>

<body>
    <div>
        <div class="pink_box">
            <div class="inner_pink_box">
                <div class="top_BR"></div>

                <div class="row justify-content-around">
                    <div class="col-xl-8 justify-content-center center">
                        <div class="box2">
                            <img src="~/images/ryochuko_text.png" />
                        </div>
                    </div>
                </div>

                <div class="row justify-content-around">
                    <div class="col-xl-5 justify-content-center center">
                        <div class="box1">
                            <img src="~/images/about_item_set_1.png" />
                        </div>
                    </div>
                    <div class="BR6"></div>
                    <div class="col-xl-5 justify-content-center center">
                        <div class="box1">
                            <img src="~/images/logan_text1.png" />
                        </div>
                    </div>
                </div>


                <div class="BR7"></div>


                <div class="BR_V3">
                    <div class="row justify-content-around">
                        <div class="col-xl-5 justify-content-center center">
                            <div class="box1">
                                <img src="~/images/logan_text2.png" />
                            </div>
                        </div>
                        <div class="BR6"></div>
                        <div class="col-xl-5 justify-content-center center">
                            <div class="box1">
                                <img src="~/images/about_item_set_2.png" />
                            </div>
                        </div>
                    </div>
                </div>


                <div class="BR_V4">
                    <div class="row justify-content-around">
                        <div class="col-xl-5 justify-content-center center">
                            <div class="box1">
                                <img src="~/images/about_item_set_2.png" />
                            </div>
                        </div>
                        <div class="BR6"></div>
                        <div class="col-xl-5 justify-content-center center">
                            <div class="box1">
                                <img src="~/images/logan_text2.png" />
                            </div>
                        </div>
                    </div>
                </div>




                <div class="BR7"></div>



                <div class="row justify-content-around">
                    <div class="col-xl-5 justify-content-center center">
                        <div class="box1">
                            <img src="~/images/truck1.png" />
                        </div>
                    </div>
                    <div class="BR6"></div>
                    <div class="col-xl-5 justify-content-center center">
                        <div class="box1">
                            <img src="~/images/logan_text3.png" />
                        </div>
                    </div>
                </div>


                <div class="BR7"></div>

            </div>



            <div style="height: 100px;"></div>
            <div class="row justify-content-around">
                <div class="col-xl-12 justify-content-center center">
                    <div class="box3">
                        <div class="col-xl-6 justify-content-center center">
							<div class="box4"><img src="~/images/line_1.png" /></div>
                        </div>
                        <div class="col-xl-6 justify-content-center center">
							<div class="box4"><img src="~/images/ig_1.png" /></div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-12 justify-content-center center">
                    <div class="box3">
                        <div class="col-xl-6 justify-content-center center">
							<div class="box4"><img src="~/images/phone_1.png" /></div>
                        </div>
                        <div class="col-xl-6 justify-content-center center">
                            <div class="box4"><img src="~/images/phone_1.png" /></div>
                        </div>
                    </div>
                </div>
            </div>
            


        </div>
    </div>
</body>