@model webEcom.Models.ProductDATA

@{
    ViewData["Title"] = "Edit";
}


<style>
    body {
        font-family: 'Cloud Soft';
        background-color: azure;
    }
</style>



<h1>Edit</h1>

<h4>PRODUCTS</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdProduct" />
            <input type="hidden" asp-for="IformfileProductInputImage" />
            <input type="hidden" asp-for="ProductImageType" />


            <div class="form-group">
                <label asp-for="ProductType" class="control-label"></label>
                <input asp-for="ProductType" class="form-control"  />
                <span asp-validation-for="ProductType" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label asp-for="ProductName" class="control-label"></label>
                <input asp-for="ProductName" class="form-control"  />
                <span asp-validation-for="ProductName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ProductTag" class="control-label"></label>
                <select class="form-select" asp-for="ProductTag">
                    <option selected>เลือก...</option>
                    <option value="#สินค้าแนะนำ">#สินค้าแนะนำ</option>
                    <option value="#ประเภทขายดี">#ประเภทขายดี</option>
                    <option value="#สินค้ามาใหม่">#สินค้ามาใหม่</option>
                    <option value="#ราคาถูก">#ราคาถูก</option>
                    <option value="#สินค้ามีแบรนด์">#สินค้ามีแบรนด์</option>
                    <option value="#เสื้อผ้า">#เสื้อผ้า</option>
                    <option value="#ของตกแต่ง">#ของตกแต่ง</option>
                    <option value="#ของพ่อบ้าน">#ของพ่อบ้าน</option>
                    <option value="#ของแม่บ้าน">#ของแม่บ้าน</option>
                    <option value="#เหมาะกับเด็ก">#เหมาะกับเด็ก</option>
                </select>
                <span asp-validation-for="ProductTag" class="text-danger"></span>
            </div>



            <div class="form-group">
                <label asp-for="ProductPrice" class="control-label"></label>
                <input asp-for="ProductPrice" class="form-control"  />
                <span asp-validation-for="ProductPrice" class="text-danger"></span>
            </div>



            <div class="form-group">
                <label asp-for="ProductCount" class="control-label"></label>
                <input asp-for="ProductCount" class="form-control"  />
                <span asp-validation-for="ProductCount" class="text-danger"></span>
            </div>



            <div class="form-group">
                <label asp-for="ProductDescription" class="control-label"></label>
                <textarea class="form-control" asp-for="ProductDescription" placeholder="คำอธิบายสินค้า" style="height: 300px ;width:90vw" ></textarea>
                <span asp-validation-for="ProductDescription" class="text-danger"></span>
            </div>






            <div class="form-group">
                <label asp-for="IformfileProductInputImage" class="control-label">IMAGE</label>
                <input asp-for="ProductImage" name="ProductImage" type="file" accept='image/*' class="form-control"  />
                <span asp-validation-for="ProductImage" class="text-danger"></span>
            </div>




            <div class="form-group">

                <span>
                    <p>
                        Current Image:
                        @if (Model.IformfileProductInputImage != null && Model.IformfileProductInputImage.Length > 0)
                        {
                            <img src="data:@Model.ProductImageType;base64,@Convert.ToBase64String(Model.IformfileProductInputImage)" class="rounded-3 img-thumbnail mt-3" alt="User Picture" style="width:25%" />
                        }
                    </p>
                </span>

            </div>



            <div class="form-group">
                <label asp-for="ProductStatus" class="control-label"></label>
                <input asp-for="ProductStatus" class="form-control" />
                <span asp-validation-for="ProductStatus" class="text-danger"></span>
            </div>



            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<br />

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
