@model webEcom.Models.ProductDATA

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<style>
    body {
        font-family: 'Cloud Soft';
        background-color: mistyrose;
    }
</style>



<h1>แก้ไขรายการสินค้า</h1>

<h4>รายละเอียดสินค้า</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdProduct" />
            <input type="hidden" asp-for="IformfileProductInputImage" />
            <input type="hidden" asp-for="ProductImageType" />

            <br />
            <div class="form-group">
                <label asp-for="ProductType" style=" font-size:1.2rem " class="control-label"></label>
                <input asp-for="ProductType" class="form-control" />
                <span asp-validation-for="ProductType" class="text-danger"></span>
            </div>

            <br />
            <div class="form-group">
                <label asp-for="ProductName" style=" font-size:1.2rem " class="control-label"></label>
                <input asp-for="ProductName" class="form-control" />
                <span asp-validation-for="ProductName" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="ProductTag" style=" font-size:1.2rem " class="control-label"></label>
                <select class="form-select" asp-for="ProductTag">
                    <option selected>เลือก...</option>
                    <option value="#สินค้าแนะนำ">#สินค้าแนะนำ</option>
                    <option value="#ประเภทขายดี">#ประเภทขายดี</option>
                    <option value="#สินค้ามาใหม่">#สินค้ามาใหม่</option>
                    <option value="#ราคาถูก">#ราคาถูก</option>
                    <option value="#สินค้ามีแบรนด์">#สินค้ามีแบรนด์</option>
                    <option value="#เสื้อผ้า">#เสื้อผ้า</option>
                    <option value="#ของตกแต่ง">#ของตกแต่ง</option>
                    <option value="#ของพ่อบ้าน">#ของพ่อบ้าน</option>
                    <option value="#ของแม่บ้าน">#ของแม่บ้าน</option>
                    <option value="#เหมาะกับเด็ก">#เหมาะกับเด็ก</option>
                </select>
                <span asp-validation-for="ProductTag" class="text-danger"></span>
            </div>

            <br />

            <div class="form-group">
                <label asp-for="ProductPrice" style=" font-size:1.2rem" class="control-label"></label>
                <input asp-for="ProductPrice" class="form-control" />
                <span asp-validation-for="ProductPrice" class="text-danger"></span>
            </div>

            <br />

            <div class="form-group">
                <label asp-for="ProductCount" style=" font-size:1.2rem " class="control-label"></label>
                <input asp-for="ProductCount" class="form-control" />
                <span asp-validation-for="ProductCount" class="text-danger"></span>
            </div>

            <br />

            <div class="form-group">
                <label asp-for="ProductDescription" style=" font-size:1.2rem" class="control-label"></label>
                <textarea class="form-control" asp-for="ProductDescription" placeholder="คำอธิบายสินค้า" style="height: 300px ;width:80vw"></textarea>
                <span asp-validation-for="ProductDescription" class="text-danger"></span>
            </div>




            <br />

            <div class="form-group">
                <label asp-for="IformfileProductInputImage" style=" font-size:1.2rem" class="control-label">รูปภาพสินค้า</label>
                <input asp-for="ProductImage" name="ProductImage" type="file" accept='image/*' class="form-control" />
                <span asp-validation-for="ProductImage" class="text-danger"></span>
            </div>



            <br />
            <div class="form-group" style=" font-size:1.2rem">

                <span>
                    <p>
                        รูปปัจจุบัน:
                        @if (Model.IformfileProductInputImage != null && Model.IformfileProductInputImage.Length > 0)
                        {
                            <img src="data:@Model.ProductImageType;base64,@Convert.ToBase64String(Model.IformfileProductInputImage)" class="rounded-3 img-thumbnail mt-3" alt="User Picture" style="width:25%" />
                        }
                    </p>
                </span>

            </div>



            <br />
            <div class="form-group">
                <input type="submit" value="บันทึก" class="btn btn-success shadow fw-bolder" />
            </div>
        </form>
    </div>
</div>
<br />
<hr class="border border-secondary border-2 opacity-50">

<div class="row  " style="margin-left:45%">

    <div class="col">
        <div style="display:inline-block ;">
            <a asp-action="Index" class="btn btn-primary shadow fw-bolder text-white text-decoration-none">กลับสู่รายการ</a>
        </div>
    </div>
</div>

<br />



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
